/* Color Scheme Used:
Primary Color Brand (Sage Background): #B2A083
Secondary Color Brand (Tan): #E8DDD5
Primary Color Writing (Plum): #654B54
Secondary Color: #E8D5CC
*/

/*For box sizing*/
* {
	box-sizing: border-box;
}

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/*
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

/*For Images*/
img {
	width: 100%;
}

/* -------------------------OVERALL LAYOUT STYLING -------------------------- */
/* -------------------------------------------------------------------------- */

#hero {
	background-color: #b2a083;
	background-color: #e8ddd6;
	padding: 20px 0;
	background-color: #e8ddd6;
	padding: 20px 0;
	display: block;
	width: 100%;
	max-width: 1000px;
	margin: auto;
}

main {
	padding-top: 56px;
}

/* -------------------------------------- FONTS AND TEXT / H1-5 HEADERS ------------------------------------- */

#hero h1 {
	margin: 0;
	padding: 0.67em 0;
}
#hero span {
	display: block;
	text-align: center;
}
#hero h2 {
	text-align: center; /* Centers text */
}

/*For Text*/
body {
	font-family: 'Playfair Display', sans-serif;
}
body {
	background-color: #b2a083;
	font-family: 'Playfair Display', sans-serif;
	font-size: 18px; /* Sets the font size to 16px */
	font-weight: 400; /* Sets the font weight to 300 */
	line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
	color: #4a4a4a;
}

h1,
h2,
h3,
h4 {
	line-height: 1.4;
}

h1 {
	font-size: 2.75em;
	font-weight: 600;
}
h2 {
	font-size: 2.25em;
	font-weight: 600;
}
h3 {
	font-size: 1.5em;
	font-weight: 400;
}
h4 {
	font-size: 1.35em;
	font-weight: 400;
}

/* -------------------------------------- LINKS ------------------------------------- */

a {
	color: #556a7a;
	text-decoration: none; /* No underlining */
}
a:hover {
	color: #9e6b4e;
	text-decoration: underline; /* Underlining when hovering over a link */
}

a:visited {
	/* visited link */
	color: #654b54;
}
a:active {
	/* selected link */
	color: #beb4b4;
}

a:hover,
a:focus {
	color: #654b54;
	text-decoration: underline;
}

/*For Buttons*/
.button {
	display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
	background-color: #b2a083;
	color: #654b54; /* needed to override the default link color */
	font-weight: 400;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid #654B54; /* width of the border, type, color */
	transition: 0.2s opacity;
}

.button:hover {
	opacity: 0.8; /* Reduces the opacity of the button to 80% */
	text-decoration: none;
}

.button.contact {
	background-color: transparent;
	color: #654b54;
	text-transform: uppercase;
	border: 2px solid #b2a083;
}
.button.contact:hover {
	background-color: #654b54;
	color: #ffffff;
}

/* -------------------------------------- navigation ------------------------------------- */
header {
	background-color: #e8ddd5;
	padding: 10px 0 4px;
	margin: 10px;
}

nav > ul {
	list-style-type: none;
	padding: 0;
  margin: 0;
}

.navtoggle li:not(:last-child) {
	display: none;
}

nav > ul > li > a {
	padding: 0 15px;
	text-transform: uppercase;
	font-weight: 700;
	color: #4a4a4a;
}

.row {
	margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row {
	padding-bottom: 25px;
	border-bottom: 1px solid #654B54;
}

/* Layout styling */

.container {
	padding: 0 15px;
}

.logo {
	max-width: 250px;
}

/* --------------------------------------- HAMBURGER MENU ---------------------------------------- */
.navtoggle li .icon {
	position: absolute;
	right: 0;
	top: 2px;
	font-size: 20px;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: center;
  padding-right: 0;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive nav {
	padding: 24px 0 0;
}

.navtoggle.responsive li {
	display: block;
	padding: 10px 0;
	border-top: 1px solid rgba(101, 75, 84, 0.5);
  border-bottom: #654B54
}

.navtoggle.responsive li:last-child {
	padding: 0 0 10px;
}

/* --------------------------------------- MEDIA QUIERIES ---------------------------------------- */
/* =============
Medium devices (640px and larger)
================================================================================================== */

[class*='col-'] {
	float: left;
}
.row::after {
	content: '';
	clear: both;
	display: table;
}
.col-sm-6 {
	width: 50%;
}

@media only screen and (min-width: 640px) {
	header {
		text-align: unset;
		padding: 20px 0 13px;
	}

	nav {
		width: auto;
		float: right;
		margin-top: 4px;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-4 {
		width: calc(100% / 4);
	}

	nav > ul > li {
		display: inline-block;
		position: relative;
	}

	.navtoggle li:not(:last-child) {
		display: inline-block;
	}

	.navtoggle li:last-child {
		display: none;
	}
}

nav > ul {
  margin: 1em 0;
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
